.info {
    margin: 10px 0;
    // padding: 10px 0 20px 0;
    color: $info-color;
    background: $info-background;
    article {
        border: 1px solid #000;

        width: 348px;
        header {
            padding: 10px 0;
            h1 {
                margin-left: 5px;
                display: inline-block;
                text-transform: uppercase;
                font-weight: 300;
                font-size: 22px;
            }
        }
        section {
            h2 {
                font-weight: 400;
                font-size: 20px;
            }
        }
    }
}
