$body-color: #3d3d3d;
$language-disable-color: #b9b9b9;
$navbar-active-color: #cfcfcf;
// $navbar-dropdown-backgrpund: #005da4;
$navbar-dropdown-backgrpund: #0661a6;
$hero-bottom: #909090;
$info-color: #f8f8f8;
$info-background: #5f686f;
