footer {
    padding: 40px 0;
    background: $background-5;
    img {
        margin-right: 10px;
        width: auto;
    }
    p {
        color: $color-6;
        font-size: 18px;
        font-weight: 400;
    }
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr) auto;
        align-items: center;
    }
}
