.home-section-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    // @include img-flex;
    article {
        background: $background-2;
    }
    // h3,
    // section {
    //     padding: 0 20px;
    // }
    // h2 {
    //     margin-top: 15px;
    // }
}
