.section-1 {
    text-align: center;

    .post-big {
        margin-left: -15px;
        margin-right: -15px;
        display: grid;
        grid-template-columns: 1fr;
        // @include img-flex;
        background: $secondary-back;
    }
}
