.home-section-5 {
    height: 500px;
    .container {
        article {
            position: relative;
            margin-left: auto;
            max-width: 40%;
            color: $color-5;
            background: $background-1;
            opacity: 0.95;
        }
        button {
            background: #3f749a;
        }
    }
}
