.home-section-3 {
    color: $color-5;
    background: $background-5;
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
    }
    h1 {
        font-weight: 400;
        font-size: 22px;
    }
    h2 {
        font-weight: 400;
        font-size: 18px;
        text-transform: none;
    }
}
