.home-section-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    // @include img-flex;
    // h1 {
    //     margin-top: 40px;
    // }
    article {
        background: $background-2;
    }
}
